@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

 /* CSS Variables */
 :root {
    --primary-font: "Funnel Sans", sans-serif;
    --secondary-font: "Outfit", cursive;
    --primary-color: #006667; 
    --secondary-color: white; 
    --highlight-color: #473712; 
    }

    body {
        font-family: var(--primary-font);
         font-size: 1.3rem;
         line-height: 1.4;
         color: black;
         margin: 0;
         padding: 0;
         background-color: #f4f4f4;
            }
 
    h1,
    h2,
    h3 {
        font-family: var(--secondary-font);
         font-size: 2rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    }



 /* Make the navbar sticky */
 .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    }

/*Navbar styles*/
.navbar-nav {
   display: flex;
   gap: 1rem;
   justify-content: flex-end;
   }
   .navbar-nav .nav-item:hover {
   background-color: var(--highlight-color);
         transform: scale(1.1);
         transition: transform 0.3s ease-in-out; 
            }
   


.navbar {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
   
   }

   .navbar a {
       color: white;
   }

.navbar-custom .nav-link,
.navbar-custom .nav-link.active {
   color: white;
}

.navbar-custom .nav-link:hover {
   color: #f8f9fa;
}
   .navbar-toggler-icon {
   color: white;
}


 /* Style the hero */
 .hero  {
   background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/hero.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   color: #FFEBD4;
   padding: 8rem 0;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   }
   
   /* Style the modal*/
   .modal-content {
           color: black;
   }

   /* Style the footer */
.footer {
   padding: 1rem;
   text-align: center;
background-color: var(--primary-color);
  margin-top: auto;
      color: white;
}

footer a {
   color: white;
   font-size: medium;
   padding: 0.5rem;
   }


/* Responsive styles */
@media (max-width: 576px) {
   .navbar-nav .nav-item:hover {
      background-color: var(--highlight-color);
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
      padding-left: 1.5rem;
   }
}

   @media (max-width: 768px) {
      .navbar-nav .nav-item:hover {
         background-color: var(--highlight-color);
         transform: scale(1.1);
         transition: transform 0.3s ease-in-out; 
         padding-left: 1.5rem;     
      }
   }